.main {
  // TODO: make it smaller on a mobile device

  .title {
    @include helvetica-light();
    @include light();
    font-size: calc-rem(42px);
    text-align: center;
  }

  .subtitle {
    @include helvetica-light();
    @include light();
    font-size: calc-rem(28px);
    text-align: center;
    color: $subtitle;
    margin: calc-rem(10px) 0 calc-rem(25px);
    animation: fadein 1s;
  }

  .headliner {
    width: 100%;
    text-align: center;

    .cover {
      height: 400px;
    }
  }
}

.map {
  iframe {
    display: block;
    height: 350px;
    width: 100%;
    margin-top: calc-rem(50px);
  }
}

.address {
  display: inline-block;
  vertical-align: top;
  @include helvetica();
  @include normal();
  font-size: calc-rem(14px);
  margin: calc-rem(25px) calc-rem(10px);

  .name {
    font-size: calc-rem(14px);
    color: $main;
  }
}

