$people: 1 $first, 2 $second, 3 $third, 5 $fourth, 6 $fifth, 9 $sixth;
$spacing: calc-rem(20px);

@mixin image($colour, $opacity: 0.2) {
  position: relative;
  display: inline-block;
  min-width: calc-rem(320px);
  border-left: 5px solid $colour;
  padding-left: $spacing;
  overflow: hidden;
  margin-bottom: $spacing;

  .image {
    text-align: center;
    padding-top: $spacing;

    .wrapper {
      max-height: calc-rem(150px);
      max-width: calc-rem(150px);
      border-radius: 50%;
      margin: 0 auto;
      overflow: hidden;
      background-color: rgba($colour, 0.25);
      border: 1px solid $colour;

      img {
        height: calc-rem(150px);
      }
    }
  }

  .details {
    @include helvetica();
    @include normal();
    padding-bottom: $spacing;

    .name {
      @include light();
      font-size: calc-rem(28px);
      color: $colour;
      margin-top: calc-rem(20px);
    }

    .position {
      @include bold();
      font-size: calc-rem(14px);
      line-height: calc-rem(25px);
    }

    p {
      margin-top: $spacing;
      margin-right: $spacing;
      font-size: calc-rem(14px);
      line-height: $spacing;

      a {
        text-decoration: underline;
      }
    }
  }
}

.person {
  @each $colour in $people {
    &:nth-child(#{nth($colour, 1)}n + #{nth($colour, 1)}) {
      border-color: nth($colour, 2);
      @include image(nth($colour, 2));
    }
  }
}

.masonry {
  margin-left: $spacing;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .person {
    flex: 1;
  }
}
