html, body {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-weight: 400;
  color: #333;
}

.narrow {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;

  .logo {
    color: #333;
    display: inline-block;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    line-height: 2rem;
  }

  ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    display: inline-block;
    position: absolute;
    right: 0;

    li {
      font-size: 1rem;
      display: inline-block;
      list-style-type: none;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 2rem;
      padding: 0 10px;
      border-bottom: 1px inset #333;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.main {
  .title {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
  }

  .subtitle {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
    color: #999;
    margin: 10px 0;
  }

  .headliner {
    width: 100%;
    text-align: center;

    .cover {
      height: 400px;
    }
  }
}

.flex-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.blurb {
  flex: 1;

  .blurb-title {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    position: relative;

    &:after {
      content: '';
      background-color: #999;
      width: 10%;
      height: 2px;
      position: absolute;
      bottom: -10px;
      left: 45%;
    }
  }

  .blurb-content {
    font-family: Georgia, serif;
    font-size: 1rem;
    line-height: 1.75rem;
    color: #999;
    margin: 0 10px;
  }
}
