html,
body {
  font-size: $base-font-size;
  color: $base;
  @include helvetica();
  @include normal();
  background-color: $white;
}

a {
  text-decoration: none;
  color: $base;
  transition: color 0.5s ease;

  &:hover {
    color: $main;
  }
}

nav {
  margin: calc-rem(25px) calc-rem(20px);
  position: relative;

  .logo {
    color: $base;
    display: inline-block;
    @include helvetica-light();
    font-size: calc-rem(28px);
    line-height: calc-rem(28px);
  }
}

.flat-list {
  margin: 0;
  padding: 0;
  font-size: 0;
  display: inline-block;
  position: absolute;
  right: 0;

  a {
    font-size: calc-rem(14px);
    display: inline-block;
    list-style-type: none;
    @include helvetica-light();
    line-height: calc-rem(28px);
    padding: 0 calc-rem(10px);
    border-bottom: 1px inset $base;
    margin-right: calc-rem(20px);
    cursor: pointer;

    &.active {
      border-bottom: 3px inset $main;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-bottom: 3px inset $main;
    }
  }
}

.flex-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}
