html, body {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 400;
}

nav {
  position: relative;

  .logo {
    color: #333;
    display: inline-block;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
    font-size: 2rem;
    line-height: 2rem;
  }

  ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    display: inline-block;
    position: absolute;
    right: 0;

    li {
      font-size: 1rem;
      display: inline-block;
      list-style-type: none;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
      line-height: 2rem;
      padding: 0 10px;
      border-bottom: 1px inset #333;
      margin-right: 20px;
    }
  }
}
